<div id="{{ id }}" class="bw-embed">
    <div class="bw-embed-hd">
        <a href="{{ permalink }}" class="bw-embed-ref">{{ reference }}</a>
        <a href="#">{{ translation.abbr }}</a>
    </div>
    <div class="bw-embed-bd">
        {{ content }}
    </div>
    <div class="bw-embed-ft">
        <a href="http://bibleworm.com/embed">BibleWorm.com</a>
    </div>
</div>