{% extends 'BibleWormMobileBundle:Default:layout.html.twig' %}

{% block title %}Reading Plan{% endblock %}

{% block javascripts %}
<script src="/bundles/biblewormmobile/js/readingplan.js"></script>
{% endblock %}

{% block header %}
<h1>Reading Plan</h1>
<a href="#" data-role="button" data-icon="gear" class="ui-btn-right">Options</a>
{% endblock %}

{% block body %}
    <div data-role="collapsible-set">
        {% for day, readings in readingPlan %}
            <div data-role="collapsible" class="readings_container">
                <h3>Day {{ day }}</h3>
                <div data-role="fieldcontain">
                    <ul data-role="listview" data-theme="c" data-split-theme="c" data-inset="true" class="readings">
                        <li class="reading_link" id="{{ day }}-1"><a href="#" class="reference">{{ readings.1 }}</a><a href="{{ url('bw_get_reading_plan_passage', {'reference': readings.1}) }}">Read</a></li>
                        <li class="reading_link" id="{{ day }}-2"><a href="#" class="reference">{{ readings.2 }}</a><a href="{{ url('bw_get_reading_plan_passage', {'reference': readings.2}) }}">Read</a></li>
                        <li class="reading_link" id="{{ day }}-3"><a href="#" class="reference">{{ readings.3 }}</a><a href="{{ url('bw_get_reading_plan_passage', {'reference': readings.3}) }}">Read</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}